@import "nav.css";
@import "fish.css";
@import "tip.css";

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.bordered {
    border: 1px dashed goldenrod;
}